.tabs {
  width: 85%;
  float: left;
}

.tabItem {
  margin: 20px;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: inline-block;
  background-color: #FFF;
  border: 2px #000 solid;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  padding: 0px;
}

.vote {
  flex:0 1 auto;
  width:200px;
  margin:auto;
}

.cont {
  margin-top: 15px;
  background-color: #FFF;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  border: 2px #000 solid;
  display:flex;
  text-align: center;
}


.content:after{
  content : '';
  display: block;
  clear:both;
}

.content {
  width: 90%;
  margin: auto;
}

.side {
  position: fixed;
  right: 10%;
}

.hide {
  display: none;
}

textarea {
  margin: 0px;
  width: 100%;
  height: 500px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}