/*タブ切り替え全体のスタイル*/
.tabs {
  width: 85%;
  /* max-width: 750px; */
  float: left;
}

.tabItem {
  margin: 20px;
}

.hide {
  display: none;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: inline-block;
  background-color: blueviolet;
  border: none;
  padding-left: 20px;
}

.content:after{
  content : '';
  display: block;
  clear:both;
}

.content {
  width: 90%;
  margin: auto;
}

.side {
  position: fixed;

  margin-top: 5px;
  right: 10%;
}